---
layout: layouts/blank.njk
---
{% set latestPost = (collections.post | reverse | head(1))[0] %}
<div class="single-column-container">
  <p>I&rsquo;m a software engineer living in New York City. Outside of work, I&rsquo;m interested in how digital technologies have reshaped cities over the past several decades and in how we can purposefully and ethically incorporate computation into urban environments.</p>

  <p>I&rsquo;m a native of Rhode Island and <a href="/files/verifiable-diploma.pdf" target="_blank">graduated</a> from Brown University in 2022 with degrees in Computer Science and Urban Studies. While at school I was involved in some local advocacy in Providence, mainly around transportation and sustainable urban development. I sometimes muse about these and other topics <a href="https://twitter.com/chris_sarli/" target="_blank">on Twitter.</a></p>

  <p>On occasion, I post semi-longform on this site. My most recent post can be found here:</p>
</div>
<a href="{{ latestPost.url }}" class="no-underline">
  <div class="feature-link">
    <div class="title">{{ latestPost.data.title | safe }}</div>
    <div class="date">Posted on {{ latestPost.data.date.toLocaleDateString("en-US", {year: 'numeric', day: 'numeric', month: 'long', timeZone: 'UTC'}) }}</div>
  </div>
</a>
<div class="single-column-container">

  <p>I also maintain <a href="/projects">a small portfolio</a> of my personal projects that are published on the web.</p>
</div>
