---
layout: layouts/blank.njk
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---
<h1>Posts</h1>
<div style="max-width: var(--site-max-width);">
<ul class="post-ul">
{%- for post in collections.post -%}
<li><a href="{{post.url}}"><strong>{{ post.data.date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC'}) }}</strong> {{ post.data.title | safe }}</a></li>
{%- endfor -%}
</ul>
</div>
