---
layout: layouts/blank.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---
<link rel="stylesheet" href="{{ '/css/projects.css' | url }}">
<h1>Projects</h1>

<div id="#items">
<div class="item">
  <div id="building_age_img" class="work_image"></div>
  <div class="description">
    <div class="title">How old is Providence?</div>
    <div class="explanation">
      <p><a href="https://chris.sarl/how-old-is-providence/">How old is Providence?</a> is a map of parcels in Providence, stylized by the year of last building construction. All of the data comes from <a href="https://pvdgis.maps.arcgis.com/home/item.html?id=1700e1cf7228491d962973edc9924484" rel="external">the City&rsquo;s GIS Portal.</a> This visualization was inspired by Kyril Negoda&rsquo;s <a href="https://spatialthinking.tumblr.com/post/160598058069/minneapolis-building-age-zoomable-version-mapping" rel="external">How old is Minneapolis?</a></p>
      <p>Hovering on a parcel reveals the year, and clicking on it will open the relevant entry in <a href="https://gis.vgsi.com/providenceri/" rel="external">Vision.</a></p>
      <div class="continue_link">
        <a href="https://chris.sarl/how-old-is-providence/">Open &rArr;</a>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div id="parking_img" class="work_image"></div>
  <div class="description">
    <div class="title">Providence Parking Inventory</div>
    <div class="explanation">
      <p>The <a href="https://chris-sarli.github.io/parking-analysis/">Downtown Providence Parking</a> site is an exhaustive inventory of parking in Downtown Providence, Rhode Island.</p>
      <p>The goal of the project is to produce visuals and statistics showing that far too much space is devoted to parking in the city&rsquo;s core and that changes need to be made.</p>
      <p>I collected most of the data myself, added it to <a href="http://openstreetmap.org">OpenStreetMap</a> for anyone to use, and built this overview from that data.</p>
      <div class="continue_link">
        <a href="https://chris-sarli.github.io/parking-analysis/">Open &rArr;</a>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <div id="gbfs_viewer_img" class="work_image"></div>
  <div class="description">
    <div class="title">GBFS Viewer</div>
    <div class="explanation">
      <p><a href="http://chris-sarli.github.io/GBFS-Viewer/">GBFS Viewer</a> is a very simple tool that uses <a href="https://github.com/NABSA/gbfs" target="_blank">GBFS</a> feeds to provide a realtime map of multiple scooter- and
        bike-share systems.
        The tool is adaptable to any City and feed provider (as long as their
        GBFS follows the <a href="https://github.com/NABSA/gbfs/blob/master/gbfs.md" target="_blank">official specification</a>), but this instance has been created for
        operators in Providence, RI.</p>
      <p>The tool also counts vehicles per geographic zone specified for <a href="https://www.providenceri.gov/wp-content/uploads/2019/08/PTD-Regulations-Sept-1-2019.pdf" target="_blank">regulatory distribution requirements.</a></p>
      <div class="continue_link">
        <a href="https://chris.sarl/GBFS-Viewer/">Open &rArr;</a>
      </div>
    </div>
  </div>
</div>
</div>
