<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ (title or metadata.title) | safe }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  {% if metaimg or metadata.metaimg %}
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url or metadata.url }}">
  <meta property="og:title" content="{{ (title or metadata.title) | safe }}">
  <meta property="og:description" content="{{ description or metadata.description }}">
  <meta property="og:image" content="{{ metaimg or metadata.metaimg }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ url or metadata.url }}">
  <meta property="twitter:title" content="{{ (title or metadata.title) | safe }}">
  <meta property="twitter:description" content="{{ description or metadata.description }}">
  <meta property="twitter:image" content="{{ metaimg or metadata.metaimg }}">
  {% endif %}
  <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  <link rel="stylesheet" href="https://use.typekit.net/rrn2vlm.css">
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
  <link rel="icon" type="image/png" href="/img/favicon.png">
</head>

<body>
  <header>
    <div id="header-contents">
      <div class="home"><a href="/">{{ metadata.title }}</a></div>
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </div>
  </header>

  <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  {{content | safe}}
  </main>

  <footer></footer>

  <!-- Current page: / -->
</body>

</html>
