---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article class="post">
  <div class="single-column-container">
    <h1>{{ title | safe }}</h1>
    <div class="date"><time datetime="{{date.toUTCString()}}">{{ date.toLocaleString('en-US', {year: 'numeric', day: 'numeric', month: 'long', timeZone: 'UTC'}) }}</time><span class="revisions-link"><a href="https://github.com/chris-sarli/chris-sarli.github.io/commits/master{{ relpath }}"><em>Revision History</em></a></span></div>
    <br>
    {{ content | safe }}
  </div>
</article>
